html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

#starting-text {
    position: absolute;
    padding: 5px;
    width: 250px;
    height: 38px;
    font-family: 'Uncial Antiqua', sans-serif;
    font-size: 25px;
    color: #543215;
    background-color: #faeadc;
    border: 2.5px solid #543215;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.div-bottom {
    border: 10px solid #000000;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    width: 98.8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fruit-image, .vegetable-image, .product-image {
    width: 100px;
    height: 100px;
    position: relative;
}

.label-count {
    position: absolute;
      top: 0;
      left: 50%;
     font-family: "Press Start 2P", sans-serif;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.35);
      user-select: none;
      color: white;
      cursor: default;
      padding: 10px;
      border-radius: 20px;
      font-size: 30px;
}

#message-div {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-text {
    font-size: 35px;
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    color: white;
    max-width: 80%;
    padding: 20px;
    line-height: 1.5;
    user-select: none;
}

.input-answer {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 5px solid #6A3F2A;
    color: #000000;
    font-family: "Press Start 2P", sans-serif;
    font-size: 14px;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    max-width: 280px;
}

.div-mistake {
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    color: red;
}

.input-answer-bakery {
    bottom: 12%;
    left: 45%;
}

#div-mistake-bakery {
    position: absolute;
    bottom: 6%;
    left: 45%;
    transform: translateX(-50%);
    font-size: 16px;
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    color: red;
}